.todoTabs {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 280px;
   height: 45px;
}

.todoTab {
   font-size: 14px;
   border: 1px solid transparent;
   border-radius: 17px;
   padding: 7px;
   background-color: #f0f0f9;
}

.todoTab:hover {
   background-color: #e8e8ef;

}