.todoItem {
   display: flex;
   align-items: center;
   width: 630px;
   height: 100px;
   border: 1px solid black;
   border-radius: 27px;
   margin-top: 10px;
   justify-content: space-between;
   padding: 15px;
   box-sizing: border-box;
}

.textBlock {
   width: 450px;
   height: 50px;
   margin-top: 10px
}

.todoItemButtons {
   display: flex;
   width: 55px;
   justify-content: space-between;
}

.readyTextBlock {
   text-decoration: line-through;
}

.changeTextBlock {
   width: 450px;
   height: 50px;
   border: 1px solid black;
   border-radius: 27px;
   margin-top: 10px
}