.todoItem {
   width: 500px;
   height: 150px;
   border: 1px solid black;
   border-radius: 27px;
   margin-bottom: 25px;
   padding: 15px;
   box-sizing: border-box;
   background-color: rgb(235, 233, 233);
}

.todoItemHeader {
   display: flex;
   justify-content: space-between;
}

.textBlock {
   width: 470px;
   height: 77px;
   margin-top: 10px;
   overflow: scroll;
}

.todoItemButtons {
   display: flex;
   width: 55px;
   justify-content: space-between;
}

.todoItemButton {
   width: 20px;
   height: 20px;
   border-radius: 50%;
}

.todoItemButton:hover {
   background-color: rgb(218, 215, 215);
}

.readyTextBlock {
   width: 470px;
   height: 77px;
   margin-top: 10px;
   overflow: scroll;
   text-decoration: line-through;
}

.todoTitle {
   width: 350px;
   font-weight: bold;
}